body {
  font-family: Arial, Helvetica, sans-serif;
}
.prima {
  width: 480px;
  height: 250px;
  background-color: black;
}
#primo {
  padding-left: 78px;
  padding-top: 75px;
}
#secondo {
  background-image: url(./FE-S1-P-Esercizio/images/banner.jpg);
  background-size: cover;
}
.primo-par {
  text-align: center;
  font-weight: bolder;
  color: #14a4ac;
  font-size: xx-large;
  padding-top: 22px;
}
.secondo-par {
  text-align: center;
  font-weight: 400;
  font-size: x-large;
  padding-top: 17px;
}
.terzo-par {
  color: white;
  text-align: center;
  background-color: orangered;
  border-radius: 9%;
  margin-top: 62px;
  height: 51px;
  width: 175px;
  margin-left: 160px;
}
h1 {
  text-align: center;
  color: #14a4ac;
  font-weight: bolder;
  font-size: xx-large;
  margin-top: 80px;
}
.quarto-par {
  text-align: center;
  margin-top: 30px;
  font-size: larger;
  font-weight: 400;
}
h2 {
  text-align: center;
  color: #14a4ac;
  font-weight: bolder;
  font-size: xx-large;
  margin-top: 51px;
}
.quinto-par {
  text-align: center;
  margin-top: 30px;
  font-size: larger;
  font-weight: 400;
}
#pc {
  border-radius: 233px;
  margin-left: 34px;
  margin-top: 26px;
}
h3 {
  text-align: center;
  color: #14a4ac;
  font-weight: bolder;
  font-size: xx-large;
  margin-top: 51px;
}
.sesto-par {
  text-align: center;
  margin-top: 30px;
  font-size: larger;
  font-weight: 400;
  margin-bottom: 83px;
}
#terzo {
  width: 480px;
  height: 300px;
  background-color: orangered;
}
h4 {
  color: white;
  font-size: xx-large;
  font-weight: 800;
  text-align: center;
  padding-top: 47px;
}
.settimo-par {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: larger;
  padding-top: 32px;
  font-style: italic;
}
.ottavo-par {
  text-align: center;
  color: white;
  font-weight: 500;
  margin-top: 80px;
  font-size: x-large;
}
.nono-par {
  color: white;
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: medium;
}
#quarto {
  height: 300;
  width: 406px;
}
h5 {
  text-align: center;
  color: #14a4ac;
  font-weight: bolder;
  font-size: xx-large;
  width: 372px;
  margin-top: 25px;
}
.PPCC {
  height: 300px;
  width: 372px;
}
.decimo-par {
  color: black;
  text-align: center;
  font-weight: 400;
  font-size: medium;
  height: 32px;
  width: 372px;
  margin-top: 29px;
}
main {
  border: solid black 1px;
  margin-right: 0px;
  padding-left: 0px;
  width: 373px;
  margin-top: 53px;
  border-right-width: 1px;
  height: 465px;
  margin-left: 55px;
}
