#primo {
  width: 1920px;
  height: 200px;
  background-color: black;
}
.prima {
  width: 421px;
  height: 118px;
}
#secondo {
  width: 1920px;
  height: 800px;
  background-image: url(/FE-S1-P-Esercizio/images/banner.jpg);
  background-size: cover;
}
h1 {
  color: #14a4ac;
  margin-top: 0%;
  font-size: 5vh;
  font-weight: 900px;
  text-align: center;
  padding-top: 116px;
}
.seconda {
  text-align: center;
  font-size: xx-large;
}
button {
  background-color: orangered;
  text-align: center;
  font-size: 3vh;
  color: white;
  border-radius: 6%;
  border-left-width: 0px;
  height: 100px;
  width: 244px;
  padding-left: 0px;
  margin-left: 822px;
  margin-top: 80px;
}
#terzo {
  width: 1920px;
  height: 800px;
  background-color: transparent;
}
.terza {
  border-radius: 60%;
  margin-top: 99px;
  margin-left: 258px;
  width: 600px;
}
h2 {
  text-align: top;
  color: #14a4ac;
  font-weight: bolder;
  font-size: xx-large;
}
